.yh_header_bar {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  margin-top: -10px;
}
.yh_header_right_main {
  position: absolute;
  right: 0;
  line-height: 40px;
}
#yh_header_ul {
  display: flex;
  width: 180px;
  margin: 0;
  margin-right: 20px;
}
#yh_header_ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}