.yh_card_container {
  padding: 12px;
  border-radius: 8px;
}
.yh_card_icon {
  font-size: 54px;
  float: left;
  position: relative;
  top: 8px;
}
.yh_card_right {
  float: right;
  width: 10px;
  height: 71px;
  border-radius: 5px;
  background-color: #EDEDED;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.yh_card_title {
  padding-left: 10%;
  float: left;
}
.yh_card_number {
  font-size: 24px;
  font-weight: blod;
  margin: 0;
}